name: Linux Build & Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y check pkg-config

      - name: Compile Espresso server
        run: make

      - name: Run Unit Tests
        run: make test_unit

      - name: Run Integration Tests
        run: make test_integration
