name: Windows Build & Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up MSYS2 / MinGW
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-libuv
            mingw-w64-x86_64-make
            mingw-w64-x86_64-pkg-config

      - name: Compile
        shell: msys2 {0}
        run: |
          make
      - name: Run unit tests
        shell: msys2 {0}
        run: |
          make test_unit
      - name: Run integration tests
        shell: msys2 {0}
        run: |
          make test_integration
